<div class="parallax-container height-of-content">
  <div class="parallax"><img src="images/paragon_team.jpg"></div>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to Pwnagon</h1>
      <h3>Pwn your deck collection.</h3>
      <a href="#hot-decks" class="btn-large red darken-3 smooth-scroll-anchor">
        <i class="material-icons medium left">trending_up</i>
        Hot decks
      </a>
      <a href="<%= new_deck_path %>" class="btn-large">
        <i class="material-icons medium left">add</i>
        Add a deck
      </a>
      <% message =
        "Pwnagon is a place where Paragon players can "\
        "share decks with each other.\nWe're currently in "\
        "early alpha, but a full about page with more information is "\
        "coming soon."
       %>
      <a href="javascript:void(0);" class="btn-large light-blue"
        data-confirm="<%= message %>">
        <i class="material-icons medium left">info_outline</i>
        What is this?
      </a>
    </div>
  </div>
</div>

<div id="hot-decks" class="container deck-glance-container">
  <h2><i class="material-icons medium left">trending_up</i> Hot Decks</h2>

  <div class="heroes-grid percentage-width">
    <!-- TODO: React -->
    <!-- TODO: add option to show "all" heroes -->
    <% all_heroes = Hero.all %>
    <% all_heroes_count = all_heroes.size %>
    <% margin = 1 %>
    <% percentage_per_item = 100.0 / all_heroes_count - margin %>
    <% all_heroes.each do |hero| %>
      <a href="javascript:void(0);" class="heroes-grid-item"
        style="margin-left: <%= margin / 2.0 %>%; margin-right: <%= margin / 2.0 %>%; width: <%= percentage_per_item %>%;">
        <%= image_tag hero.avatar.url(:thumb), class: "hero-image" %>
        <h6 class="hero-name"><%= hero.name %></h6>
      </a>
    <% end %>
  </div>

  <div class="deck-glance-grid">
    <div class="row">
      <% @decks.each do |deck| %>
        <div class="col s12 m6 l6">
          <%= link_to(deck_path(deck)) do %>
            <%= render "decks/deck_glance", deck: deck %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Add a deck', new_deck_path %>
</div>
