<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h4>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.text_field(:name) %>
        <%= f.label(:name) %>
      </div>
    </div>

    <div class="col s12">
      <div class="input-field">
        <%= f.number_field(:cost) %>
        <%= f.label(:cost) %>
      </div>
    </div>

    <div class="col s12">
      <div class="input-field">
        <%= f.select(:affinity, Card::AFFINITY_MAP.invert, {},
            { class: "materialize-init" }) %>
        <%= f.label(:affinity) %>
      </div>
    </div>

    <div class="col s12">
      <div class="input-field">
        <%= f.select(:type, Card::TYPE_MAP.invert, {},
            { class: "materialize-init" }) %>
        <%= f.label(:type) %>
      </div>
    </div>

    <div class="col s12">
      <div class="input-field">
        <%= f.select(:trigger, Card::TRIGGER_MAP.invert,
            { include_blank: "None" },
            { class: "materialize-init" }) %>
        <%= f.label(:trigger) do %>
          Trigger (equipment only)
        <% end %>
      </div>
    </div>

    <div class="col s12">
      <div class="input-field">
        <%= f.select(:rarity, Card::RARITY_MAP.invert, {},
            { class: "materialize-init" }) %>
        <%= f.label(:rarity) %>
      </div>
    </div>

    <div class="col s12">
      <div class="input-field file-field">
        <div class="btn">
          <span>Image</span>
          <%= f.file_field :image %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>
    </div>

    <div class="col s12">
      <%= f.submit class: "btn" %>
    </div>
  </div>
<% end %>
