<div id="hot-decks" class="container deck-glance-container">
  <h2>
    <i class="material-icons medium left">trending_up</i>
    Hot Decks
    <% if @decks.current_page > 1 %>
      <small>(page <%= @decks.current_page %> of <%= @decks.total_pages %>)</small>
    <% end %>
  </h2>

  <%= react_component("Controllers.DeckGlances",
        props: {
          :heroes => prepare_heroes_for_deck_glances(all_heroes),
          :decks => prepare_decks_for_deck_glances(@decks)
        }) %>

  <%= paginate @decks, { url_hash: "hot-decks" } %>

  <hr/>
  <%= link_to 'Deck Builder', choose_hero_for_new_deck_path %>
</div>
