<div class="container">
  <h2><%= @deck.name %></h2>

  <h3>Cards</h3>
  <ul>
    <% @deck.cards.each do |card| %>
      <li>[<%= card.cost %>] <%= card.name %></li>
    <% end %>
  </ul>
  <hr/>
  <%= link_to 'Edit', edit_deck_path(@deck) %> |
  <%= link_to 'Back', decks_path %>
</div>

<%= render 'decks/deck_build_tree' %>
