<div class="container">
  <div class="card devise-form-card">
    <div class="card-content">
      <span class="card-title">
        <%= @deck.name %>
        <br class="hide-on-med-and-up" />
        <small>by <%= @deck.author.email %></small>
      </span>
      <!-- TODO: GFM or WYSIWYG -->
      <%= @deck.description %>
    </div>

    <div class="card-action">
      <!-- TODO: -->
      <%= link_to "Next hot deck", random_deck_path, class: "btn" %>
      <%= link_to "Previous deck", :back, class: "btn btn-back" %>
    </div>
  </div>

  <h1></h1>
  <!-- TODO: username -->
  <!-- TODO: link_to user_path -->
  <!-- TODO: Add things like created_at, etc -->

  <%= react_component("Controllers.DeckShow",
        name: @deck.name,
        cards: @deck.cards) %>

  <hr/>
  <%= link_to 'Edit', edit_deck_path(@deck) %> |
  <%= link_to 'Back', decks_path %>
</div>
