<div class="fixed-background-container">
  <div class="fixed-background" style="background-image: url('<%= @deck.hero.banner.url %>')"></div>
</div>

<div class="container">
  <div class="card deck-details-header-card">
    <div class="card-content">
      <div class="header-stats-content deck-stats"
        data-deck-id="<%= @deck.id %>">
        <%= render "decks/deck_stats", deck: @deck %>
      </div>

      <span class="card-title">
        <small class="right">
          <%= timeago_tag(@deck.created_at, :nojs => true, :limit => 14.days.ago) %>
        </small>
        <%= @deck.name %>
        <br class="hide-on-med-and-up" />

        <!-- TODO: link_to user_path -->
        <small>by <%= @deck.author.username %></small>
      </span>
      <!-- TODO: GFM or WYSIWYG -->
      <p><%= @deck.description %></p>
    </div>

    <div class="card-action">
      <%= link_to random_deck_path, class: "btn red darken-3" do %>
        <i class="material-icons medium left">trending_up</i>
        Next Hot Deck
      <% end %>
      <%= link_to "Previous deck", :back, class: "btn-flat btn-back" %>
    </div>
  </div>

  <%= react_component("Controllers.DeckShow",
        deckId: @deck.id,
        name: @deck.name,
        cards: @deck.cards,
        comments: prepare_comments_for_deck_show(@deck.comments.order("created_at DESC").preload(:author))) %>

  <hr/>
  <%= link_to 'Edit', edit_deck_path(@deck) %> |
  <%= link_to 'Back', decks_path %>
</div>
