<div class="fixed-background-container">
  <div class="fixed-background" style="background-image: url('<%= @deck.hero.banner.url %>')"></div>
</div>

<% if user_is_guest? && @deck.author == guest_user %>
  <div class="container">
    <%= render "banners/guest_mode_warning" %>
  </div>
<% end %>

<div class="container">
  <div class="card deck-details-header-card">
    <div class="card-content">
      <div class="header-stats-content deck-stats"
        data-deck-id="<%= @deck.id %>">
        <%= render "decks/deck_stats", deck: @deck %>
      </div>

      <span class="card-title">
        <div class="right">
          <small><%= timeago_tag(@deck.created_at, :nojs => true, :limit => 14.days.ago) %></small>

          <% if can?(:update, @deck) %>
            <%= link_to edit_deck_path(@deck), class: "btn", title: "Edit deck" do %>
              <i class="material-icons">mode_edit</i>
            <% end %>
          <% end %>
        </div>

        <%= @deck.name %>
        <br class="hide-on-med-and-up" />

        <!-- TODO: link_to user_path -->
        <small>
          by
          <% if @deck.author.username %>
            <%= @deck.author.username %>
          <% else %>
            <a href="<%= exit_guest_mode_path %>" class="red-text text-darken-3">Guest user</a>
          <% end %>
        </small>

      </span>

      <!-- TODO: GFM or WYSIWYG -->
      <p><%= raw(html_newlines(h(@deck.description))) %></p>
    </div>

    <div class="card-action">
      <%= link_to random_deck_path, class: "btn red darken-3" do %>
        <i class="material-icons medium left">trending_up</i>
        Next Hot Deck
      <% end %>
      <%= link_to "Previous deck", :back, class: "btn-flat btn-back" %>
    </div>
  </div>

  <%= react_component("Controllers.DeckShow",
        props: {
          deckId: @deck.id,
          name: @deck.name,
          cards: prepare_cards_for_deck_editor(@deck.cards),
          comments: prepare_comments_for_deck_show(@deck.comments.order("created_at DESC").preload(:author))
        }) %>

  <hr/>
  <% if can?(:update, @deck) %>
    <%= link_to 'Edit Deck', edit_deck_path(@deck) %> |
  <% end %>
  <%= link_to 'Back', decks_path %>
</div>
