<!DOCTYPE html>
<html>
<head>
  <title>Pwnagon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert alert-#{name} card-panel") %>
<% end %>

<%= yield %>

</body>
</html>
