<!DOCTYPE html>
<html>
<head>
  <title>Pwnagon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<%= render "layouts/alerts" %>

<%= yield %>

<%= render "layouts/footer" %>

<% unless defined?(@skip_new_deck_button) && @skip_new_deck_button %>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to new_deck_path, class: "btn-floating btn-large" do %>
      <i class="large material-icons">build</i>
    <% end %>
  </div>
<% end %>

</body>
</html>
