<!DOCTYPE html>
<html>
<head>
  <% set_meta_tags title: page_title, reverse: reverse_meta_title? %>
  <% set_meta_tags description: page_description %>
  <%= display_meta_tags site: "Pwnagon" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script>
    <%= render "layouts/window_variables" %>
  </script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>

<header>
  <%= render "layouts/navbar" %>
</header>

<main>
  <%= render "layouts/alerts" %>
  <%= yield %>
</main>

<%= render "layouts/footer" %>

<% unless defined?(@skip_new_deck_button) && @skip_new_deck_button %>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to choose_hero_for_new_deck_path, class: "btn-floating btn-large" do %>
      <i class="large material-icons">build</i>
    <% end %>
  </div>
<% end %>

<script>ga("send", "pageview", window.location.pathname);</script>

</body>
</html>
